$tzBlue: rgb(147, 107, 22);
body, h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Tahoma,Arial,Roboto,Droid Sans,Helvetica Neue,Droid Sans Fallback,微软雅黑,Microsoft Yahei,Heiti SC,Hiragino Sans GB,Simsun,sans-self;  font-size: 14px;
  color: #000;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
}

.swiper-scrollbar-drag {
  background: $tzBlue;
}

.swiper-slide .container {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.edit_area {
  top: 0;
  text-align: left;
  width: 320px;
  height: 486px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  margin-top: 25px;
}

.edit_area > li {
  position: absolute;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-object {
  width: 100%;
  display: block
}

//箭头
.scroll-down {
  position: absolute;
  bottom: 27px;
  left: 50%;
  z-index: 150;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll-button {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  z-index: 30;
  color: #fff;
  width: 18px;
  height: 18px;
  text-align: center;
  transition: all .2s ease-in-out;
  opacity: .5;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  border-left: 2px solid rgb(147, 28, 22);
  border-bottom: 2px solid rgb(147, 28, 22);
  transform: rotate(135deg);
  margin-left: -10px;
}

.down-button {
  margin-top: -8px;
  animation-delay: -0.15s;
}

// loading
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $tzBlue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

// 音乐按钮
#audio_btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  display: none;
  width: 30px;
  height: 30px;
  background-image: url(https://saascore.oss-cn-beijing.aliyuncs.com/weiop/demo/img/normalmusic.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.rotate{
  animation:rotatec 2s linear infinite;
}
.btn{
  display: block;
  height: 100%;
  line-height: 30px;
  margin:0 auto;
  color: #832627;
  background: url(https://saascore.oss-cn-beijing.aliyuncs.com/weiop/demo/img/btn.png) no-repeat;
  background-size: 100% 100%;
  //background-color: rgb(147, 107, 22);
  text-align: center;
  opacity: 1;
  //box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-decoration: none;
}
@keyframes sdb05 {
  0% {
    transform: rotate(135deg) translate(0, 0);
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    transform: rotate(135deg) translate(-20px, 20px);
    opacity: 0
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}
@keyframes rotatec {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}