$tzBlue: rgb(147, 107, 22);
body, h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
}

.swiper-scrollbar-drag {
  background: rgba(255,255,255,.6);
}

.swiper-slide .container {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
}
.img-object {
  width: 100%;
  height: 100%;
  display: block
}
.scan{
  width:165px;
  height:165px;
  position: absolute;
  top:130px;
  left:50%;
  margin-left: -73px;
}
.redpack{
  width:400px;
  height:300px;
  position: absolute;
  top:520px;
  left:50%;
  margin-left:-200px;
  animation: red-bag-ani 2.5s infinite ease-in-out;
}

//箭头
.scroll-down {
  position: absolute;
  bottom: 27px;
  left: 50%;
  z-index: 150;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll-button {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  z-index: 30;
  color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  transition: all .2s ease-in-out;
  opacity: .5;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(135deg);
  margin-left: -20px;
}

.down-button {
  margin-top: -16px;
  animation-delay: -0.15s;
}

// loading
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $tzBlue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

.btn{
  display: block;
  height: 100%;
  line-height: 30px;
  margin:0 auto;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 0px;
  background-color: rgb(147, 107, 22);
  text-align: center;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-decoration: none;
}
@keyframes sdb05 {
  0% {
    transform: rotate(135deg) translate(0, 0);
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    transform: rotate(135deg) translate(-20px, 20px);
    opacity: 0
  }
}
@keyframes red-bag-ani {
  22%{transform:rotate(-5deg) scale(1.02)}
  24%{transform:rotate(5deg) scale(1.03)}
  26%{transform:rotate(-5deg) scale(1.04)}
  28%{transform:rotate(5deg) scale(1.05)}
  30%{transform:rotate(-5deg) scale(1.06)}
  32%{transform:rotate(5deg) scale(1.07)}
  34%{transform:rotate(-5deg) scale(1.08)}
  36%{transform:rotate(5deg) scale(1.09)}
  38%{transform:rotate(-5deg) scale(1.1)}
  40%{transform:rotate(5deg) scale(1.11)}
  42%{transform:rotate(-5deg) scale(1.12)}
  44%{transform:rotate(5deg) scale(1.13)}
  46%{transform:rotate(-5deg) scale(1.14)}
  48%{transform:rotate(5deg) scale(1.15)}
  50%{transform:rotate(-5deg) scale(1.16)}
  52%{transform:rotate(5deg) scale(1.17)}
  54%{transform:rotate(-5deg) scale(1.18)}
  56%{transform:rotate(5deg) scale(1.19)}
  58%{transform:rotate(-5deg) scale(1.2);}
  60%{transform:rotate(5deg) scale(1.21);opacity: .95;}
  62%{transform:rotate(-5deg) scale(1.23);opacity: .9;}
  64%{transform:rotate(5deg) scale(1.23);opacity: .85;}
  66%{transform:rotate(-5deg) scale(1.24);opacity: .8;}
  68%{transform:rotate(5deg) scale(1.25);opacity: .75;}
  70%{transform:rotate(-5deg) scale(1.26);opacity: .7;}
  72%{transform:rotate(5deg) scale(1.27);opacity: .65;}
  74%{transform:rotate(-5deg) scale(1.28);opacity: .6;}
  76%{transform:rotate(5deg) scale(1.29);opacity: .55;}
  78%{transform:rotate(-5deg) scale(1.3);opacity: .5;}
  80%{transform:rotate(5deg) scale(1.31);opacity: .45;}
  82%{transform:rotate(-5deg) scale(1.32);opacity: .4;}
  84%{transform:rotate(5deg) scale(1.33);opacity: .35;}
  86%{transform:rotate(-5deg) scale(1.34);opacity: .3;}
  88%{transform:rotate(5deg) scale(1.35);opacity: .25;}
  90%{transform:rotate(-5deg) scale(1.36);opacity: .2;}
  92%{transform:rotate(5deg) scale(1.37);opacity: .15;}
  94%{transform:rotate(-5deg) scale(1.38);opacity: .12;}
  96%{transform:rotate(5deg) scale(1.39);opacity: .10;}
  98%{transform:rotate(-5deg) scale(1.40);opacity: .6;}
  100%{transform:rotate(0deg) scale(1.41);opacity: 0;}
}